.inner-nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:20%;

}

 .home-link:hover{
    text-decoration: underline;
 }

 .login-link:hover{
    text-decoration: underline;
 }
